<h1>お使いリスト:<%= @errand.name %></h1>
<ol>
  <% @errand.tasks.each do |task| %>
  <li>
    <%= task.name %>
  </li>
  <% end %>
</ol>
<%= link_to '新しいタスク', new_task_path(task: {errand_id: @errand.id}) %>
<%= link_to 'リストの一覧', errands_path %>
